input:focus,
button:focus {
    outline: none;
}
body {
    margin: 0px;
    background-color: #efefef;
}
.title {
    padding: 20px;
    font-size: 25px;
    background-color: #ffffff;
    border-bottom: 5px #bfbfbf solid;
}
.layout-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.list-container {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.list-item {
    padding: 50px;
    font-size: 80px;
    text-align: center;
    color: #ffffff;
}
.primary-btn {
    background-color: #72c3dc;
    color: #ffffff;
    font-size: 14px;
    padding: 12px 50px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 0px #6f98a8;
    text-transform: uppercase;
}

.btn-container {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.btn-container > input {
    margin: 10px;
}
.footer {
    background-color: #efefef;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    body {
        background-color: #ffffff;
    }
    .title {
        padding: 10px;
        font-size: 25px;
        color: #ffffff;
        background-color: #000000;
        border: none;
    }
    .layout-container {
        padding: 0px;

        flex-direction: column-reverse;
    }
    .list-container {
        width: 95%;
        grid-template-columns: auto;
    }
    .list-item {
        margin: 5px 0px;
        padding: 10px 0px;
        font-size: 20px;
        color: #000000;
    }
    .primary-btn {
        padding: 12px 20px;
    }

    .btn-container {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .btn-container > input {
        width: 30%;
    }
}
